.button {
    
    display: flex;
    justify-content: center;

    & input[type="button"] {
        height: 3rem;
        width: 6rem;

        border: none;
        border-radius: .5rem;

        background-color: var(--primary-blue-dark);
        color: var(--button-text-color);

        font: var(--button);

        transition: background-color 250ms ease-in-out;

        &:hover {
            background-color: var(--text-secondary);
            font-size: 1.55rem;
            cursor: pointer;
        }
    }

}